# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/.terraform.tfstate.lock.info
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/*.tfvars
**/*.tfvars.json
**/tfplan

# Optional: local backend config


# Python
.venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Lambda zip / build artifacts
build/
*.zip

# Editor / OS
.vscode/
.DS_Store